html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
} */
/* HTML5 display-role reset for older browsers */
 article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    background-color: black;
    background: linear-gradient(135deg, plum, rgb(228, 116, 228), rgb(212, 84, 212), rgb(199, 60, 199), rgb(219, 30, 219), rgb(153, 3, 153));
}
body{
    font-family: "Sansita Swashed", system-ui;
    text-align: center;
}

main{
    align-items: center;
    justify-items: center;
}

header{
    color: grey;
    font-size: 20px;
    text-align: left;
    text-shadow: 2px 3px 4px whitesmoke;
}

.info-box{
    align-items: center;
    height: 120px;
    margin: 25px 160px;
    width: 930px;  
}

.title{ 
    animation: textChange 2s infinite alternate, flash 4s infinite;
    color: grey;
    margin-bottom: 10px;
    font-size: 60px;
}

@keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@keyframes textChange {
    from {color: grey;}
    to{color: white;}
}

.instructions{
    color: white;
    font-size: 18px;
    margin-bottom: 15px;
    text-shadow: 4px 7px 5px grey;
}
span{
    color: grey;
    font-weight: 600;
}

.hell{
    color: white;
    text-shadow: 4px 7px 5px grey;
}

form {
        background: linear-gradient(210deg, grey,white,black);
        border-radius: 10px;
        box-shadow: 8px 20px 20px 12px black;
        box-sizing: border-box; /* Include padding and border in the width and height */
        display: flex;
        flex-direction: column;
        height: 1920px;
        margin-left: 240px;
        width: 703px;
}
    
.radio-container {
    display: flex;
    align-items: center; /* Align items vertically */
    margin: 7px 0 20px 290px;
    /* margin-bottom: 5px; Adjust spacing between radio buttons */
}

.radio-container input[type="radio"] {
    margin-right: 5px; /* Adjust spacing between radio button and label */
}

input[type="number"]{
    margin:3px 0px 10px 35px;
    width: 45px;
}

/* Removing arrows from number input */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-clear-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input[type="number"]:focus{
    border: 1px solid red;
}

input:invalid{
    border-color: red;
}

#age-error-message{
    color: red;
    display: none;
    font-family: sans-serif;
    font-size: 10px;
    padding: 5px;
}

label{
    font-size: 18px;
}

button{
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 2px 3px 4px grey;
    color: black;
    font-family: "Sansita Swashed", system-ui;
    margin-bottom: 15px;   
    margin-left: 260px;
    outline: none;
    padding: 10px;
    cursor: grabbing;
    width: 143px;
}

@media screen and (max-width:375px){

    header{
        font-size: 19px;
    }

    main{
        height: 1880px;
        width: 375px;
    }

    .info-box{
        margin: 25px 0px;
        width: 400px;
    }

    .title{
        animation: none;
        font-size: 40px;
    }

    .instructions{
        font-size: 17px;
        margin-left: 34px;
        width: 297px;
    }

    .hell{
        display: none;
    }

    form{
        height: 1735px;
        margin-left: 30px;
        width: 315px;
    }

    .radio-container{
        margin: 7px 0px 14px 103px;
    }

    button{
        margin-left: 83px;
    }
}

